  body, html {
    height: 100%;
    margin: 0;
    font: 400 20px/1.8 "Raleway", sans-serif;
    color: #000;
  }

  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    /*opacity: 0.65;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
  .bgimg-1 {
    background-image: url("../img/parallax_1.png");
  }

  .bgimg-2 {
    background-image: url("../img/parallax_2.png");
  }

  .bgimg-3 {
    background-image: url("../img/parallax_3.png");
  }

  .bgimg-4 {
    background-image: url("../img/parallax_4.png");
  }

  .bgimg-5 {
    background-image: url("../img/parallax_5.jpg");
  }

  .opaque-navbar {
      background-color: rgba(0,0,0,0); /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
      height: 60px;
      border-bottom: 0px;
      transition: background-color .5s ease 0s;
  }

  .opaque-navbar.opaque {
      background-color: black;
      height: 60px;
      transition: background-color .5s ease 0s;
  }

  ul.dropdown-menu {
      background-color: black;
  }

  .bio {
    font-family: "Raleway";
    font-size: 0.7em;
  }

  .logo-social{
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo-partners {
    width: 150px;
    max-width: 30vh;
    height: 150px;
    max-height: 30vh;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 992px) {
    .opaque-navbar {
      background-color: black;
      height: 60px;
      transition: background-color .5s ease 0s;
  }

  }
  h2 {
    letter-spacing: 5px;
    font-family: "Raleway";
    font-size: 3.0vh;
    font-weight: 900;
    color: #fff;
    margin-bottom: 1.5em;
  }

  h3 {
  letter-spacing: 2px;
  font-family: "Raleway";
  font-size: 1.5vh;
  font-weight: 900;
  color: #fff;
  margin-bottom: 1.5em;
  }

Turn off parallax scrolling for tablets and phones
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
          background-attachment: scroll;
      }
  }